:root {
    --font-family-default: sans-serif;
    --font-size-default: 16px;
    --font-bold: 600;
    --font-tiny: 400;
    
    --border-radius-small: 4px;
    --box-shadow-black: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
    --background-default: url('@static/bg.jpg');
    --background-home: url('@static/home_bg.jpg');
  }
  

  body {
    margin: 0;
    padding: 0;
  }


