.container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.list__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.list__container a {
  display: block;
  margin: 0 10px;
  padding: 10px 10px;
  min-width: 80px;

  border: 2px solid transparent;
  border: 2px solid rgba(91, 41, 21, 0.941);

  border-radius: 3px;

  color: rgba(0, 0, 0, 0.941);
  font: var(--font-tiny) 18px var(--font-family-default);
  
  text-align: center;
  text-decoration: none;
}

.list__container :global(a.active) {
  color: #272323;
  background-color:  rgb(226, 177, 98);
  text-shadow: none;
}

.list__container a:hover {
  color: #272323;
  background-color: rgb(226, 177, 98);
}